* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex {
    display: flex;
}

h2{
    color: #023EA7;
}

.padra_fundo{
    background-color: #D9E9FD;
    width: 50%;
    height: 285px;
    margin: 15px;
    border-radius: 20px;
    padding: 15px;
}

.bloco_inicio{
    
}

.status_pedidos{
    width: 1000;
}

.left img {
  width: 220px;
}